services:
  postgres:
    image: pgvector/pgvector:pg17
    container_name: resume_postgres
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
      build:
        context: .
        dockerfile: Dockerfile.backend
      environment:
        # Construct the URL using the service name 'postgres'
        - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
        - OPENAI_API_KEY=${OPENAI_API_KEY}
      env_file:
        - .env
      depends_on:
        postgres:
          condition: service_healthy
      volumes:
        - ./generated_docs:/app/generated_docs

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    env_file: .env
    environment:
      API_URL: http://backend:8010
    ports:
      - "${STREAMLIT_PORT}:8501"
    depends_on:
      - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - streamlit
      - backend

volumes:
  postgres_data: